.foo{
    overflow: hidden;
    clear: both;
    max-width: 100% !important;
    height: 80px;
    background-color: #112D46;
    color: white;
    text-align: center;
    color: white;
    .heading{
        color: white;
        font: Lato;
        padding: 28px 0px;
    }
}